Image Steganography/Image Steganography/Connected Services/Steganography/HideAndSeek.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HideAndSeek" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHideAndSeek_hideMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:hideMessage" />
  </wsdl:message>
  <wsdl:message name="IHideAndSeek_hideMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:hideMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IHideAndSeek_seekMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:seekMessage" />
  </wsdl:message>
  <wsdl:message name="IHideAndSeek_seekMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:seekMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="IHideAndSeek">
    <wsdl:operation name="hideMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IHideAndSeek/hideMessage" message="tns:IHideAndSeek_hideMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHideAndSeek/hideMessageResponse" message="tns:IHideAndSeek_hideMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="seekMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IHideAndSeek/seekMessage" message="tns:IHideAndSeek_seekMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHideAndSeek/seekMessageResponse" message="tns:IHideAndSeek_seekMessage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHideAndSeek" type="tns:IHideAndSeek">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="hideMessage">
      <soap:operation soapAction="http://tempuri.org/IHideAndSeek/hideMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="seekMessage">
      <soap:operation soapAction="http://tempuri.org/IHideAndSeek/seekMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HideAndSeek">
    <wsdl:port name="BasicHttpBinding_IHideAndSeek" binding="tns:BasicHttpBinding_IHideAndSeek">
      <soap:address location="http://localhost:8000/Steganography" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>